header {
    display: flex;
}

header > nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 .4em;
    font-size: 1.4em;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a#current {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}


.sidebyside {
    display: flex;
}

.sidebyside > * {
    /* height: 100%; */
    flex: 1 1 auto;
}

label {
    display: block;
    margin: 10px;
    /* width: */
}

div.option {
    display: flex;
    justify-content: center;
    margin: .4em;
}

div.option > * {
    flex: 0 0 auto;
}



input[type=number] {
    width: 40px;
}

div#instructions {
    max-width: 600px;
    flex: 0 1 auto;
    
}