html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 5px;
}

body > * {
    flex: 0 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
}

header > nav {
    flex-grow: 1;
}

header > img {
    flex-grow: 0;
    margin: 0 auto;
    max-width: 300px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 1.2em 0;
}

nav li {
    margin: 0 .4em;
    font-size: 1.4em;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a#current {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

main {
    flex: 1;
    width: 95%;
    margin: 0 auto;
}

table#boardTable {
    width: 90%;
    margin: 0 auto;
    height: 70%; /* this is stupid and requires manually compansating for the height of the titles and text above it in order for it to ot run off the page */
}

table#boardTable > tr > td  {
    text-align: center;
    background-color: white;

}

table#boardTable > tr > td > *  {
    margin: 0 auto;
}

td .detail {
    max-width: 200px;
}

.sidebyside {
    display: flex;
    flex-direction: column;
}

.sidebyside > * {
    /* height: 100%; */
    flex: 1 1 auto;
}

label {
    display: block;
    margin: 10px;
    /* width: */
}

div.option {
    display: flex;
    justify-content: center;
    margin: .4em;
}

div.option > * {
    flex: 0 0 auto;
}

div.option > button {
 margin: .25em;
}

div.option > p#warningText {
 max-width: 100%;
}

input[type=number] {
    width: 40px;
}

div#instructions {
    max-width: 600px;
    flex: 0 1 auto;
}

table {
    border: 1px solid black;
    width: 50vw;
}


table td {
    border: 1px solid black;
    padding: 4px;
}

/* hide generation form elements and nav in print stylesheets */


iframe {
    width: 90vw;
    height: calc(90vw * 1.29);
    display: block;
    margin: 0 auto;
}



footer {
    font-size: .8em;
}

/* on big devices */


@media (min-width: 992px) {
    .sidebyside {
        flex-direction: row;
    }
    div#instructions {
        order: 2;
    }

    iframe {
        width: 50vw;
        height: calc(50vw * 1.29);
    }
}

@media (min-width: 576px) {
    header {
        flex-direction: row;
    }
}

.detail {
    color: gray;
    font-size: smaller;
}